.container
  .hero-unit
    .logo
      = image_tag "pbtrans.png"
    
      %h2 Let us work with you to bring your ideas to fruition.
  .row
    .span4
      %h2 We make custom web applications
      %p Whether you need a simple web presence, e-commerce platform, mobile site, or a full featured custom web app, we are ready to work with you and help your business grow. Our passion for technology drives us to be agile, innovative, and effective. 
      
    .span4
      %h2 We're building exciting things.
      %p With extensive experience in development, web marketing, graphic design, and user interface creation, pause|break creates simple yet powerful web solutions with an emphasis on the bottom line: creating the optimal user experience and helping your business grow.
    .span4
      %h2 Have a special project in mind?
      %p We understand that not everyone has the time or desire to keep up with the latest technologies or trends. Our passion for technology drives us to make it accessible to everyone. 
      %p How can we help your business?
      %p
        = link_to raw( "<i class='icon-envelope icon-white'></i> Contact Us" ), contact_path, :class => "btn btn-primary btn-large"

  .logo-block
    .row
      .span6.offset3
        %h4 Proudly powered by:
    .row
      
      .span1.offset3
        = image_tag "rails.png"
      .span2  
        = image_tag "github_logo_social_coding_outlined.png"
      .span2
        = image_tag "heroku-logo-light-234x60.png"
      .span1
        = image_tag "psql.png"
